@model OnlineShop.Models.Order

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/table.css" rel="stylesheet" />

<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Order No
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Phone No
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Order Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
